@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Lato", sans-serif;
}

#root {
    width: 100vw;
    max-width: 100vw;
    /* height: 100vh; */
    min-height: 100vh;
    background: linear-gradient(#e664e0, #9198e5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

h1 {
    font-size: 65px;
    text-align: center;
}

main {
    width: calc(12*68px);
    height: calc(12*68px);
    background-color: #ffffff68;
    position: relative;
}

.row {
    position: absolute;
    display: flex;
    justify-content: center;
    width: calc(10.5*68px);
}

.row.north {
    flex-direction: row-reverse;
    transform: rotate(180deg);
}

.row.east {
    flex-direction: row-reverse;
    transform: rotate(-90deg);
    transform-origin: top right;
}

.row.south {
    flex-direction: row-reverse;
    bottom: 0;
    right: 0;
}

.row.west {
    flex-direction: row-reverse;
    transform: rotate(90deg);
    transform-origin: bottom left;
}

.card {
    width: 68px;
    height: 102px;
    border: 2px solid #000;
    border-right: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

.card:nth-of-type(6) {
    background-color: #515050c9;
}

.card:last-of-type {
    border-left: 0;
}

.corner {
    border-right: 2px solid #000;
    width: 102px;
}

.card .color {
    width: 100%;
    height: 25%;
    border-bottom: 2px solid #000;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 45px;
}

.corner .color {
    border: none;
    display: none;
    height: 0%;
}

.icon .color {
    order: 2;
    height: 45%;
    border: none;
}

.luck .color {
    order: 2;
    height: 70%;
    border: none;
}

.card .name {
    width: 100%;
    height: 50%;
    font-size: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 1px;
}

.corner .name {
    height: 100%;
    font-size: 28px;
}

.icon .name {
    height: 30%;
    order: 1;
}

.luck .name {
    height: 40%;
    order: 1;
}

.card .tag {
    width: 100%;
    height: 25%;
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.corner .tag {
    height: 0%;
}

.icon .tag {
    order: 3;
}

.luck .tag {
    height: 0%;
}

.north .name, .north .tag {
    transform: rotate(180deg);
}

.north .luck .color, .north .icon .color {
    transform: rotate(180deg);
}

.east .corner .name {
    transform: rotate(90deg);
}

.west .corner .name {
    transform: rotate(-90deg);
}

@media screen and (max-width: 359px) {
    h1 {
        font-size: 35px;
    }

    main {
        width: calc(12*26px);
        height: calc(12*26px);
    }

    .row {
        width: calc(10.5*26px);
    }

    .card {
        width: 26px;
        height: 39px;
        border: 1px solid #000;
        border-right: 0px;
    }
    
    .corner {
        border-right: 1px solid #000;
        width: 39px;
    }

    .card .color {
        border-bottom: 1px solid #000;
        font-size: 12px;
    }

    .icon .color {
        border: none;
    }
    
    .luck .color {
        border: none;
    }

    .card .name {
        font-size: 5px;
        padding: 1px;
    }

    .corner .name {
        font-size: 10px;
    }

    .card .tag {
        font-size: 5px;
    }
}

@media screen and (min-width: 360px) and (max-width: 459px) {
    h1 {
        font-size: 35px;
    }

    main {
        width: calc(12*30px);
        height: calc(12*30px);
    }

    .row {
        width: calc(10.5*30px);
    }

    .card {
        width: 30px;
        height: 45px;
        border: 1px solid #000;
        border-right: 0px;
    }
    
    .corner {
        border-right: 1px solid #000;
        width: 45px;
    }

    .card .color {
        border-bottom: 1px solid #000;
        font-size: 12px;
    }

    .icon .color {
        border: none;
    }
    
    .luck .color {
        border: none;
    }

    .card .name {
        font-size: 5px;
        padding: 1px;
    }

    .corner .name {
        font-size: 10px;
    }

    .card .tag {
        font-size: 5px;
    }
}

@media screen and (min-width: 460px) and (max-width: 559px) {
    h1 {
        font-size: 35px;
    }

    main {
        width: calc(12*36px);
        height: calc(12*36px);
    }

    .row {
        width: calc(10.5*36px);
    }

    .card {
        width: 36px;
        height: 54px;
        border: 1px solid #000;
        border-right: 0px;
    }
    
    .corner {
        border-right: 1px solid #000;
        width: 54px;
    }

    .card .color {
        border-bottom: 1px solid #000;
        font-size: 19px;
    }

    .icon .color {
        border: none;
    }
    
    .luck .color {
        border: none;
    }

    .card .name {
        font-size: 6px;
        padding: 1px;
    }

    .corner .name {
        font-size: 13px;
    }

    .card .tag {
        font-size: 7px;
    }
}

@media screen and (min-width: 560px) and (max-width: 659px) {
    h1 {
        font-size: 50px;
    }

    main {
        width: calc(12*44px);
        height: calc(12*44px);
    }

    .row {
        width: calc(10.5*44px);
    }

    .card {
        width: 44px;
        height: 66px;
        border: 1px solid #000;
        border-right: 0px;
    }
    
    .corner {
        border-right: 1px solid #000;
        width: 66px;
    }

    .card .color {
        border-bottom: 1px solid #000;
        font-size: 23px;
    }

    .icon .color {
        border: none;
    }
    
    .luck .color {
        border: none;
    }

    .card .name {
        font-size: 8px;
        padding: 1px;
    }

    .corner .name {
        font-size: 18px;
    }

    .card .tag {
        font-size: 9px;
    }
}

@media screen and (min-width: 660px) and (max-width: 759px) {
    h1 {
        font-size: 50px;
    }

    main {
        width: calc(12*54px);
        height: calc(12*54px);
    }

    .row {
        width: calc(10.5*54px);
    }

    .card {
        width: 54px;
        height: 81px;
        border: 1px solid #000;
        border-right: 0px;
    }
    
    .corner {
        border-right: 1px solid #000;
        width: 81px;
    }

    .card .color {
        border-bottom: 1px solid #000;
        font-size: 34px;
    }

    .icon .color {
        border: none;
    }
    
    .luck .color {
        border: none;
    }

    .card .name {
        font-size: 11px;
        padding: 1px;
    }

    .corner .name {
        font-size: 18px;
    }

    .card .tag {
        font-size: 13px;
    }
}

@media screen and (min-width: 760px) and (max-width: 859px) {
    h1 {
        font-size: 55px;
    }

    main {
        width: calc(12*62px);
        height: calc(12*62px);
    }

    .row {
        width: calc(10.5*62px);
    }

    .card {
        width: 62px;
        height: 93px;
        border: 1px solid #000;
        border-right: 0px;
    }
    
    .corner {
        border-right: 1px solid #000;
        width: 93px;
    }

    .card .color {
        border-bottom: 1px solid #000;
        font-size: 37px;
    }

    .icon .color {
        border: none;
    }
    
    .luck .color {
        border: none;
    }

    .card .name {
        font-size: 12px;
        padding: 1px;
    }

    .corner .name {
        font-size: 18px;
    }

    .card .tag {
        font-size: 14px;
    }
}