@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Lato", sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(#e664e0, #9198e5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 369px) {
    h1 {
        font-size: 35px;
        text-align: center;
    }

    main {
        width: calc(12*26px);
        height: calc(12*26px);
        background-color: #00000068;
        position: relative;
    }

    .row {
        position: absolute;
        display: flex;
        justify-content: center;
        width: calc(10.5*26px);
    }

    .row.north {
        flex-direction: row-reverse;
        transform: rotate(180deg);
    }

    .row.east {
        flex-direction: row-reverse;
        transform: rotate(-90deg);
        transform-origin: top right;
    }

    .row.south {
        flex-direction: row-reverse;
        bottom: 0;
        right: 0;
    }

    .row.west {
        flex-direction: row-reverse;
        transform: rotate(90deg);
        transform-origin: bottom left;
    }

    .card {
        width: 26px;
        height: 39px;
        border: 1px solid #000;
        border-right: 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
        overflow: hidden;
    }

    .card:last-of-type {
        border-left: 0;
    }
    
    .corner {
        border-right: 1px solid #000;
        width: 39px;
    }

    .card .color {
        width: 100%;
        height: 25%;
        border-bottom: 1px solid #000;
        background-color: #676767;
    }

    .corner .color {
        border: none;
        height: 0%;
    }

    .icon .color, .luck .color {
        order: 2;
        height: 50%;
        border: none;
    }

    .luck .color {
        height: 75%;
    }

    .card .name {
        width: 100%;
        height: 50%;
        font-size: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        background-color: #9198e5;
    }

    .corner .name {
        height: 100%;
        font-size: 10px;
    }
    
    .icon .name, .luck .name {
        height: 25%;
        order: 1;
    }

    .card .tag {
        width: 100%;
        height: 25%;
        font-size: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #e664e0;
    }

    .corner .tag {
        height: 0%;
    }

    .icon .tag {
        order: 3;
    }

    .luck .tag {
        height: 0%;
    }

    .north .name, .north .tag {
        transform: rotate(180deg);
    }
}

@media screen and (min-width: 360px) and (max-width: 4000px) {      /* Redmi Note 11 360x800 */
    h1 {
        font-size: 50px;
    }

    .row {
        width: calc(10.5*34px);
    }
    
    .row.south .card:first-of-type {
        border-right: 1px solid #000;
        width: 51px;
    }

    .card {
        width: 34px;
        height: 51px;
    }

    .card .color {
        border-bottom: 1px solid #000;;
    }

    .card .name {
        font-size: 5px;
    }

    .card .tag {
        font-size: 5px;
    }
}
